* {
  box-sizing: border-box;
}

.sketch-container {
  display: flex;
  flex-wrap: wrap;
}

.sketch-container .row {
  width: 50px;
  height: 50px;
}

.sketch-container .column:first-child .row {
  border-left: 1px solid black;
}

.sketch-container .column .row {
  border-right: 1px solid black;
}

.sketch-container .column .row:first-child {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sketch-container .column .row:not(:first-child) {
  border-bottom: 1px solid black;
}