* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.buttons button {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 16px;
  margin-right: 0.5rem;
}

.buttons button:hover {
  cursor: pointer;
  background-color: rgb(0 128 255 / 60%);
}

.buttons button:active {
  background-color: rgb(0 128 255 / 40%);
}

.results p {
  padding: 4px;
}

.win {
  background-color: lightgreen;
}

.lose {
  background-color: lightcoral;
}

.tie {
  background-color: lightgray;
}